html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
body {
	line-height: 1.5em;
	font-family: 'Lato', sans-serif;
	font-size: 100%;
  background-image:url(../images/snow.jpg);
}

header {
	height:1000px;
	background:url(../images/forest.jpg) no-repeat center center;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	}

.birds {
	background:url(../images/birds.png) no-repeat center center;
	height:1000px;
}

header a.logo {
    display:block;
  	position:relative;
  	background-repeat:no-repeat;
  	margin:0 auto;
  	width:244px;
  	height:244px;
  	background-image:url(../images/logo_large.png);
    top:200px;
}

article {
	background-color: #3a0e49;
}

article h1 {
	font-size: 4.236em;
	color: #e32639;
  line-height: 1;
	font-family: 'Abril Fatface', cursive;
	font-weight: normal;
	text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

article p {
	color: #e8e8e8;
	max-width: 600px;
  margin:0 auto;
  padding-top: 1em;
  padding-bottom:4.236em;
}
.wrapper {
  heigth: 100vh;
  overflow: hidden;
}
.container {
  width: 100%;
  height: 100%;
  /* CSS smooth scroll */
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.navbar {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #3a0e49;
}
.navbar ul{
	display: flex;
	list-style: none;
	width: 100%;
  justify-content: center;

}
.fixed {
    position:fixed;
    top:0;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar a {
	text-decoration: none;
	color: #e8e8e8;
	display: inline-block;
}
.navbar a:hover, a:active {
	color: #e32639;
	font-style: italic;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  /* text-align: center; */
  width: 100%;
  height: 100vh;
  scroll-snap-align: center;
}
 section h2 {
   margin-top: 2em;
   font-size: 4.236em;
   color: #3a0e49;
	 font-family: 'Abril Fatface', cursive;
 	font-weight: normal;
   padding-bottom: .15em;
}

 .items h3 {
   font-size: 2.618em;
   color: #3a0e49;
   line-height: 1;
 	font-family: 'Abril Fatface', cursive;
 	font-weight: normal;
	border-top: 10px solid #3a0e49;
 }
section#skills ul{
   padding-left: 13em;
}

section#courses ul {
	padding-left: 31em;
	margin-top: 1em;
}

section#skills ul li {
  font-size: 2.618em;
	line-height: 1.2;
	color: #474647;
	padding: 0 0 0 0.9em;
	background: url(../images/bullet1.png) left center no-repeat;
}
section#courses ul li a {
	font-size: 1em;
	text-decoration: none;
	line-height: 1.2;
	color: #474647;
	padding: 0 0 0 0.9em;
	background: url(../images/bullet1.png) left center no-repeat;
}

section#courses ul li {
	color: #3a0e49;
}

section#courses ul li a:hover {
	color: #e32639;
	font-style: italic;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  width: 100%;
}

.item1,
.item2 {
 flex: 0 0 30%;
 margin-top: 4em;
 }

section#projects {
 background: rgba(255,255,255,0.4);
}

section#contact {
  background: rgba(255,255,255,0.4);
}

hr.symbol {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #3a0e49;
    margin: 1em 0;
    padding: 0;
    width: 100%;
}
.items ul {
	margin-left: -0.8em;
	margin-top: 0.65em;
}
.items li {
	list-style-type: none;
  padding: 0 0 0 0.9em;
	text-decoration: none;
	color: #2f2e2f;
	background: url(../images/red_bullet.png) left center no-repeat;
}
